<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Build-A-Blog!</title>

<link rel="stylesheet" href="/styles/main_style.css">

</head>
<body>
	<div id="links_container" class="">
	<p>Links</p>
	</div>
	<div id="title_container">
	<h1 class="title">BUILD-A-BLOG!</h1>
	</div>
	
	<div id="blog_container" class="">
		<div id="blog_heading_container" class="">
		<p>Heading</p>
		</div>
		
		<div id="blog_content_container" class="">
		<p>Blog Content</p>
		</div>
	</div>
</body>
</html>