@CHARSET "ISO-8859-1";

/*
*** COLOR PALETTE ***
	Pale Gold:	#C0B283
	Silk: 		#DCD0C0
	Paper:		#F4F4F4
	Charcoal:	#373737
*/

:root {
	--pale_gold: #C0B283;
	--silk: #DCD0C0;
	--paper: #F4F4F4;
	--charcoal: #373737;
}


body {
	display: block;
	max-width: 90%;
	margin: 0 auto;
	background-color: var(--paper);
	color: var(--charcoal);
	font-family: sans-serif;
}

h1 {
	font-size: 36px;
}


p {
	margin: 0 0;
	padding: 0 0;
}

td {
	margin: 0 0;
	padding: 0 0;
}


#links_container {
	text-align: center;
	text-transform: lowercase;
	text-size: 18px;
	background-color: var(--charcoal);
	color: var(--pale_gold);
	padding-top: 5px;
	padding-bottom: 5px;
}

#title_container {
	text-align: center;
	background-color: var(--pale_gold);
	border-bottom-style: solid;
	border-width: 7px;
	border-color: var(--charcoal);
}

#foot_bar {
	background-color: var(--pale_gold);
	box-sizing: border-box;
	height: 89px;
	
	border-top-style: solid;
	border-top-width: 7px;
	
	border-bottom-style: solid;
	border-bottom-width: 26px;
	border-color: var(--charcoal)
}

.nav_links {
	color: var(--pale_gold);
	padding-left: 8px;
	padding-right: 8px;
	text-decoration: none;
}

.blog_container {
	max-width: 80%;
	margin: 0 auto;
}

.blog_heading_container {
	text-align: center;
	font-weight: bold;
	background-color: var(--pale_gold);
	text-transform: capitalize;
	padding-top: 12px;
	padding-bottom: 12px;
	border-bottom-style: solid;
	border-width: 2px;
	border-color: var(--charcoal);
}

.blog_content_container {
	margin: 0 auto;
	text-align: justify;
	background-color: var(--silk);
}

.new_blog_content_container {
	margin: 0 auto;
	text-align: center;
	background-color: var(--silk);
	padding-top: 12px;
	padding-bottom: 12px;
}


table tr td.new_blog_content_container textarea {
	width: 80%;
	height: 600px;
}

.new_blog_form {
	text-align: center;
}

.new_blog_table {
	margin: 0 auto;
	width: 100%;
}

.no_marpad {
	margin: 0 0;
	padding: 0 0;
}

.test_border {
	border-weight: 1px;
	border-color: red;
	border-style: solid;
}

.title {
	margin: 0 0;
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 10px;
}

.error {
	color: #FF0000;
	text-transform: none;
}