@CHARSET "ISO-8859-1";

/*
*** COLOR PALETTE ***
	Pale Gold:	#C0B283
	Silk: 		#DCD0C0
	Paper:		#F4F4F4
	Charcoal:	#373737
*/

:root {
	--pale_gold: #C0B283;
	--silk: #DCD0C0;
	--paper: #F4F4F4;
	--charcoal: #373737;
}


body {
	display: block;
	max-width: 90%;
	margin: 0 auto;
	background-color: var(--paper);
	color: var(--charcoal);
	font-family: sans-serif;
}


p {
	margin: 0 0;
}


#links_container {
	text-align: center;
	text-transform: lowercase;
	background-color: var(--charcoal);
	color: var(--pale_gold);
}

#title_container {
	text-align: center;
	background-color: var(--pale_gold);
}

#blog_container {
	max-width: 80%;
	margin: 0 auto;
}

#blog_heading_container {
	text-align: center;
	font-weight: bold;
	background-color: var(--pale_gold);
	text-transform: capitalize;
}

#blog_content_container {
	margin: 0 auto;
	text-align: justify;
	background-color: var(--silk);
	
}

.no_marpad {
	margin: 0 0;
	padding: 0 0;
}

.test_border {
	border-weight: 1px;
	border-color: red;
	border-style: solid;
}

.title {
	margin: 0 0;
	padding-bottom: 12px;
}