@CHARSET "ISO-8859-1";

/*
*** COLOR PALETTE ***
	Pale Gold:	#C0B283
	Silk: 		#DCD0C0
	Paper:		#F4F4F4
	Charcoal:	#373737
*/

:root {
	--pale_gold: #C0B283;
	--silk: #DCD0C0;
	--paper: #F4F4F4;
	--charcoal: #373737;
}

body {
	width: 90%;
	background-color: var(--paper);
	color: var(--charcoal);
	margin: 0 auto;
	font-family: sans-serif;
}

h1 {
	font-size: 36px;
}

.error {
	color: #FF0000;
}

#links_container {
	text-align: center;
	text-transform: lowercase;
	font-size: 18px;
	padding: 5px 0px;
}

.nav_links {
	text-decoration: none;
	padding: 0 9px;
	color: var(--charcoal);
}

#title_container {
	text-align: center;
	padding: 12px 0;
}

.title {
	font-weight: bold;
}

.blog_container {
	background-color: var(--silk);
	padding-top: 5px;
	padding-bottom: 15px;
	margin: 18px 0;
	border-bottom: 4px solid var(--charcoal);
}

.blog_heading_container {
	text-align: center;

}

.blog_heading_container p a {
	text-decoration: none;
	font-weight: bold;
	color: var(--charcoal);
}

.blog_content_container {
	margin: 0 auto;
	text-align: justify;
	background-color: var(--silk);
	padding: 0px 15px;
}

table tr td.new_blog_content_container textarea {
	width: 80%;
	height: 600px;
}

.new_blog_form {
	text-align: center;
}

.new_blog_table {
	margin: 0 auto;
	width: 100%;
}

.no_marpad {
	margin: 0 0;
	padding: 0 0;
}

.new_blog_content_container {
	margin: 0 auto;
	text-align: center;
	background-color: var(--silk);
	padding-top: 12px;
	padding-bottom: 12px;
}